In [1]:
print("Hello Praveen")

Hello Praveen

In [2]:
import pandas as pd 

data: dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
    }
df = pd.DataFrame(data)
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
def add(a: int | float, b: int | float):
    
    return a + b

print(add(2.5 , 5))

7.5

In [9]:
l1 = []
for i in range(1,11):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
def user_inputs():
    even_list = []
    odd_set = set()
    while True:
        number = int(input("Enter a number :"))
        if number == -1:
            print(even_list)
            print(odd_set)
            print("Exiting......")
            break
        if even_odd(number) == True:
            even_list.append(number)
        else:
            odd_set.add(number)

        
            
            

def even_odd(num):
    if num % 2 == 0:
        return True
    return False

user_inputs()

[12, 14, 156, 18, 20]
{17, 19, 13, 15}
Exiting......