In [25]:
# 1. add(x)  ==>  used to add the element to set

my_set = {1,2,3,4}
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [20]:
# 2. remove(x)   ==> removes the element from set
# ERROR if element not found in the sets
my_set.remove(2)
my_set

{1, 3, 4, 5}

In [14]:
# 3. discard(x)  ==>  removes element from the set
# NOT occurs any ERROR if not found

my_set.discard(6)
my_set

{1, 3, 4, 5}

In [27]:
# 4. pop()  ==> removes the random element from the set

my_set.pop()
my_set

{2, 3, 4, 5}

In [28]:
# 5.  clear()    ==> clears all elements from set
my_set.clear()
my_set

set()

In [ ]:
# 6. update({})   => updates the from new sets

my_set.update({1,3,4,6,8,0,15,18,17})
my_set

{0, 1, 3, 4, 6, 8, 15, 17, 18}

In [44]:
# 7. copy()      ==> shallow copy 
new_set = my_set.copy()
print(my_set)
print(new_set)

{0, 1, 3, 4, 6, 8, 15, 17, 18}
{0, 1, 3, 4, 6, 8, 15, 17, 18}

In [45]:
new_set.pop()
new_set.remove(8)
new_set.discard(17)
new_set.discard(4)
print(new_set)
print(my_set)

{1, 3, 6, 15, 18}
{0, 1, 3, 4, 6, 8, 15, 17, 18}

In [ ]:
# 8. union(other_set)  ==> union of the both sets (combines both sets)

new_set.union(my_set)

{0, 1, 3, 4, 6, 8, 15, 17, 18}

In [ ]:
# 9. intersection(other_set)  ==>returns indersection values(common elements from both sets)

new_set.intersection(my_set)

{1, 3, 6, 15, 18}

In [ ]:
s1 = {2,4,6,8,9}
s2 = {2,6,8,10,11,17}

# 10. difference(other_set)   ==> return difference values(returns non repeateing values of oneside of set from other side of set)
#Items in this set but not the other

s2.difference(s1)

{10, 11, 17}

In [53]:
# 11. symentric_differance(other_set)   ==> returns symentric differance
# Items in either set but not both

s1.symmetric_difference(s2)

{4, 9, 10, 11, 17}

In [ ]:
# 12.