In [2]:
# 1.  lower( )   =>  converts entire string to lower case.

str = "PrAvEeN"
print(str.lower())

praveen

In [3]:
# 2.	upper( )   =>  converts entire string to upper case.

str = "pRaVeEn"
print(str.upper())

PRAVEEN

In [ ]:
#3.	title()       => capitalize the first character or litter of each word in string sentence

str = "Hello praveen welcome to string methods"
print(str.title())

Hello Praveen Welcome To String Methods

In [ ]:
# 4.	capitalize() => capitalize the first letter only in string

str = "welcome all to string methods class"
print(str.capitalize())

Welcome all to string methods class

In [17]:
# 5.	strip()       => removes white space from the both ends of a word or sentence

str = " Praveen kumar        "
print(len(str))
newstr = str.strip()
print(newstr)
len(newstr)

22
Praveen kumar

13

In [20]:
# 6.	lstrip()     =>     removes white space from left side only

newstr = str.lstrip()
print(newstr)
len(newstr)

Praveen kumar

21

In [21]:
# 7.   rstrip()            =>     removes white spaces from right side of string

newstr = str.rstrip()
print(newstr)
len(newstr)

 Praveen kumar

14

In [24]:
# 8. replace()            =>  replaces the letter in the substr

str = "Hello world"

print(str.replace(' ','!'))

Hello!world

In [66]:
# 9. split          =>  divide the string to new strings outputs in list
str = "praveen kumar"
new_str= str.split(" ")
print(new_str)

['praveen', 'kumar']

In [57]:
# 10. join()         => joins the splited string to one string
new_str = "hello world"
print(" ".join(new_str))

h e l l o   w o r l d

In [58]:
# 11. find(sub)         => to find the charecter in a string
new_str = "hello world"
new_str.find("l")

2

In [ ]:
# 12. index(sub)        => to find the index of a charecter in string
new_str.index(" ")

5

In [41]:

# 13. startwith(sub)
new_str.startswith("he")

True

In [42]:
# 14. endswith(sub)
new_str.endswith("l")

False

In [ ]:
# 15. isdigit()

print(new_str.isdigit())
#  isalpha()
print(new_str.isalpha())
str = "praveen"
print(str.isalpha())

#  isalnum()
print("123abd".isalnum())

# count(sub)
new_str.count('l')

NameError: name 'new_str' is not defined

In [7]:
# isupper()
"Apple".isupper()
"A".isupper()

True

In [67]:
# lower(), strip(), replace() ==> text processing 
# split(), join()             ==> tokenization
# isalnum(), isalpha()        ==> data validation


text = "  Hello WORLD! Welcome to AI.  "
clean_text = text.strip().lower().replace("!", "")
print(clean_text)

hello world welcome to ai.

In [68]:
sentence = "Hello welcome to ai workspace"
new = sentence.split()
print(new)

['Hello', 'welcome', 'to', 'ai', 'workspace']

In [69]:
joining = " ".join(new)
print(joining)

Hello welcome to ai workspace

In [75]:
edit = " ".join(new).title().replace("Ai","AIML")
edit

'Hello Welcome To AIML Workspace'

In [79]:
list = ["Praveen","23","chennai",]
new = [f for f in list if f.isalpha()]
print(new)
"".join(new)

['Praveen', 'chennai']

'Praveenchennai'

In [ ]:
fake_words = ['shocking', 'unbelievable', 'click here', 'you won’t believe', 'miracle', 'secret', 'guaranteed']

headline = input("Enter headline from a newspaper:").lower().strip().replace(" ","")
spam = 0
for fakes in fake_words:
    if fakes in headline:
        spam = 1
        break
if spam == 1:
    print("Headline may be a fake")
else:
    print("Headline is not fake")

Headline is not fake