In [2]:
# 1. Print only words that start with 'A' (case-insensitive) from a list.
# words = ["apple", "Banana", "Avocado", "grape", "Apricot"]
# Output:
# apple
# Avocado
# Apricot


words = ["apple", "Banana", "Avocado", "grape", "Apricot"]

for word in words:
    if word.lower().startswith("a"):
        print(word)

apple
Avocado
Apricot

In [4]:
# 2. Count how many words in a list end with the letter 'e'.
# words = ["apple", "banana", "grape", "mango", "pineapple"]
# Output:
# Words ending with 'e': 2

words = ["apple", "banana", "grape", "mango", "pineapple"]
count = 0
for word in words:
    if word.lower().endswith("e"):
        count += 1
print(f"Words ending with 'e' :{count}")

Words ending with 'e' :3

In [6]:
# 3. Loop through a string and print all uppercase letters.
# text = "Python Is FuN"
# Output:
# P
# I
# F
# N

text = "Python Is FuN"

for letter in text:
    if letter.isupper():
        print(letter)

P
I
F
N

In [5]:
"P".isupper()

True

In [7]:
# 4. Loop through a list of names and print only those that are fully alphabetic.
# names = ["Alice", "Bob", "An4a", "Steve123", "John"]
# Output:
# Alice
# Bob
# John

names = ["Alice", "Bob", "An4a", "Steve123", "John"]

for name in names:
    if name.isalpha():
        print(name)

Alice
Bob
John

In [8]:
# 5. Given a list of strings, print those that have more than 5 characters.
# cities = ["Paris", "London", "Amsterdam", "NYC", "Delhi"]
# Output:
# London
# Amsterdam

cities = ["Paris", "London", "Amsterdam", "NYC", "Delhi"]

for city in cities:
    if len(city) > 5:
        print(city)

London
Amsterdam

In [10]:
# 6. Create a new list with all words converted to uppercase.
# fruits = ["apple", "banana", "cherry"]
# Output:
# ['APPLE', 'BANANA', 'CHERRY']

fruits = ["apple", "banana", "cherry"]
FRUITS = []

for fruit in fruits:
    FRUITS.append(fruit.upper())

print(FRUITS)

['APPLE', 'BANANA', 'CHERRY']

In [12]:
# 7. From a list of sentences, print only those containing the word 'python'.
# lines = ["I love Python", "Java is cool", "python is powerful", "I like programming"]
# Output:
# I love Python
# python is powerful

lines = ["I love Python", "Java is cool", "python is powerful", "I like programming"]

for sen in lines:
    if "python" in sen.lower():
        print(sen)

I love Python
python is powerful

In [11]:
sen = "i like Python"
"python" in sen.lower()

True

In [14]:
# 8. Print the reversed version of each word in a list.
# words = ["code", "loop", "fun"]
# Output:
# edoc
# pool
# nuf

words = ["code", "loop", "fun"]
for word in words:
    print(word[::-1])

edoc
pool
nuf

In [84]:
# 9. Filter and print names that start and end with the same letter.
# names = ["Anna", "Bob", "Alice", "Ava", "Sam"]
# Output:
# Anna
# Bob
# Ava

names = ["Anna", "Bob", "Alice", "Ava", "Sam"]


print(names[0][0].lower() == names[0][-1])

for name in names:
    
    if name[0].lower() == name[-1]:
        print(name)

# for name in range(len(names)):
#     if name.lower().name[0].endswith(name[-1]):
#         print(name)

True
Anna
Bob
Ava

In [23]:
# 10. Loop through a list of strings and print the number of vowels in each.
# words = ["apple", "grape", "plum"]
# Output:
# apple - 2 vowels
# grape - 2 vowels
# plum - 1 vowel

words = ["apple", "grape", "plum"]
count = 0

for word in words:
    for letter in word:
        if letter.lower() in ['a','e','i','o','u']:
            count += 1
    print(f"{word} - {count} vowels")
    count = 0

apple - 2 vowels
grape - 2 vowels
plum - 1 vowels

In [18]:
word = "apple"
count = 0
for letter in word:
    if letter.lower() in ['a','e','i','o','u']:
        count += 1

print(count)

2

In [42]:
# 11. From a list of mixed data, keep only the strings.
# items = ["apple", 42, "banana", True, "grape"]
# Output:
# ['apple', 'banana', 'grape']

items = ["apple", 42, "banana", True, "grape"]

# for item in items:
#     if str(item).isdigit() or str(item) == "True":
#         items.remove(item)
# print(items)

for item in items:
    if type(item) != str:
        items.remove(item)
print(items)

['apple', 'banana', 'grape']

In [56]:
# 12. Remove all duplicates from a list of words.
# words = ["apple", "banana", "apple", "grape", "banana"]
# Output:
# ['apple', 'banana', 'grape']

words = ["apple", "banana", "apple", "grape", "banana"]
words2 = []

for word in words:
    if word not in words2:
        words2.append(word)
print(words2)

['apple', 'banana', 'grape']

In [64]:
# 13. Sort a list of strings in alphabetical order and print them.
# animals = ["Zebra", "elephant", "Dog", "cat"]
# Output:
# ['Dog', 'Zebra', 'cat', 'elephant']

animals = ["Zebra", "elephant", "Dog", "cat"]
animals.sort()
animals

['Dog', 'Zebra', 'cat', 'elephant']

In [65]:
# 14. From a list of names, print only those where all letters are lowercase.
# names = ["john", "ALICE", "bob", "Steve"]
# Output:
# john
# bob

names = ["john", "ALICE", "bob", "Steve"]

for name in names:
    if name.islower():
        print(name)

john
bob

In [90]:
# 15. Create a list of word lengths from a sentence, ignoring punctuation.
# sentence = "Hello, world! This is Python."
# Output:
# [5, 5, 4, 2, 6]

sentence = "Hello, world! This is Python. @@Praveen"
new_sentence = ""
l = []

for letter in sentence:
    if letter.isalpha() or letter == " ":
        new_sentence = new_sentence + letter
print(new_sentence)

for word in new_sentence.split():
    l.append(len(word))

print(l)

Hello world This is Python Praveen
[5, 5, 4, 2, 6, 7]

In [94]:
numbers_list = [[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[11, 12, 13], [14, 15, 16], [17, 18, 19]]]
numbers_list

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[11, 12, 13], [14, 15, 16], [17, 18, 19]]]

In [97]:
for i in numbers_list:
    for j in i:
        for k in j:
            print(k)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19